<style>
  
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>


<div class="main" >
  <div class="header">header</div>
  <div class="content">
    <div class="left">
      <form #myform="ngForm" (submit)="onsubmit(myform)">
        <ng-container ngModelGroup="user">
          <input type="text" name="username" ngModel/>
        </ng-container>
        <ng-container ngModelGroup="contract">
          <input type="text" name="phone" ngModel/>
        </ng-container>
        
        <button>submit</button>
      </form>
    </div>
    <div class="center" >
      <h3 (click)="onopen()">click to open modal</h3>
      <app-form-array></app-form-array>
      <hr/>
      <app-validator></app-validator>
    </div>
    <div class="right">
      <app-form-demo></app-form-demo>
    </div>
  </div>
  <div class="footer">footer</div>
</div>
<ng-container *ngIf="visible">
  <app-dialog 
    [visible]="visible"
    (close)="onclose()"
  ></app-dialog>
</ng-container>


<router-outlet></router-outlet>
