.dialog-container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
}
.dialog-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 4px;
  margin: auto;
  text-align: center;
}
.dialog-title {
  margin: 15px;
}
.dialog-btn {
  width: 100px;
  height: 28px;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}